<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
    <!-- Profile Sidebar -->
    <div class="profile-sidebar" th:fragment="sidebar">
        <div class="widget-profile pro-widget-content">
            <div class="profile-info-widget">
                <a href="#" class="booking-doc-img">
                    <img th:src="${user.theAvatar}" alt="User Image">
                </a>
                <div class="profile-det-info">
                    <h3 th:text="${user.fullName}" class="mb-0"></h3>
                    <p th:text="${'@' + user.username}" class="small text-secondary"></p>
                    <div class="patient-details">
                        <h5 class="mb-0 text-wrap" th:text="${doctorDto.eduSpecialtiesText}"></h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="dashboard-widget">
            <nav class="dashboard-menu">
                <ul>
                    <li th:classappend="${#request.getRequestURI() == '/dashboard' ? 'active' : ''}">
                        <a th:href="@{/dashboard}">
                            <i class="fas fa-columns"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li th:classappend="${#request.getRequestURI() == '/dashboard/appointments' ? 'active' : ''}">
                        <a th:href="@{/dashboard/appointments}">
                            <i class="fas fa-calendar-check"></i>
                            <span>Appointments</span>
                        </a>
                    </li>
                    <li th:classappend="${#request.getRequestURI() == '/dashboard/calendar' ? 'active' : ''}">
                        <a th:href="@{/dashboard/calendar}">
                            <i class="fas fa-calendar-alt"></i>
                            <span>Calendar</span>
                        </a>
                    </li>
                    <li th:classappend="${#request.getRequestURI() == '/dashboard/my-patients' ? 'active' : ''}">
                        <a th:href="@{/dashboard/my-patients}">
                            <i class="fas fa-user-injured"></i>
                            <span>My Patients</span>
                        </a>
                    </li>
                    <li th:classappend="${#request.getRequestURI() == '/dashboard/time-slot-settings' ? 'active' : ''}">
                        <a th:href="@{/dashboard/time-slot-settings}">
                            <i class="fas fa-hourglass-start"></i>
                            <span>Schedule Timings</span>
                        </a>
                    </li>
                    <li th:classappend="${#request.getRequestURI() == '/dashboard/doctor-reviews' ? 'active' : ''}">
                        <a th:href="@{/dashboard/doctor-reviews}">
                            <i class="fas fa-star"></i>
                            <span>Reviews</span>
                        </a>
                    </li>

                    <li th:classappend="${#request.getRequestURI() == '/dashboard/clinic-settings' ? 'active' : ''}">
                        <a th:href="@{/dashboard/clinic-settings}">
                            <i class="fas fa-clinic-medical"></i>
                            <span>Clinic Settings</span>
                        </a>
                    </li>

                    <li th:classappend="${#request.getRequestURI() == '/dashboard/profile-settings' ? 'active' : ''}">
                        <a th:href="@{/dashboard/profile-settings}">
                            <i class="fas fa-user-cog"></i>
                            <span>Profile Settings</span>
                        </a>
                    </li>
                    <li th:classappend="${#request.getRequestURI() == '/dashboard/change-password' ? 'active' : ''}">
                        <a th:href="@{/dashboard/change-password}">
                            <i class="fas fa-lock"></i>
                            <span>Change Password</span>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/logout}">
                            <i class="fas fa-sign-out-alt"></i>
                            <span>Logout</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- /Profile Sidebar -->
</body>
</html>