<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>Doccure - Dashboard</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/admin/assets/img/favicon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/admin/assets/css/bootstrap.min.css">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="/admin/assets/css/font-awesome.min.css">

    <!-- Feathericon CSS -->
    <link rel="stylesheet" href="/admin/assets/css/feathericon.min.css">

    <link rel="stylesheet" href="/admin/assets/plugins/morris/morris.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="/admin/assets/css/style.css">

    <!--[if lt IE 9]>
    <script src="/admin/assets/js/html5shiv.min.js"></script>
    <script src="/admin/assets/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<!-- Main Wrapper -->
<div class="main-wrapper">

    <!-- Header -->
    <div th:replace="admin/fragments/header :: header"></div>
    <!-- /Header -->

    <!-- Sidebar -->
    <div th:replace="admin/fragments/sidebar :: sidebar"></div>
    <!-- /Sidebar -->

    <!-- Page Wrapper -->
    <div layout:fragment="layoutContent"></div>
    <!-- /Page Wrapper -->

</div>
<!-- /Main Wrapper -->

<!-- jQuery -->
<script src="/admin/assets/js/jquery-3.2.1.min.js"></script>

<!-- Bootstrap Core JS -->
<script src="/admin/assets/js/popper.min.js"></script>
<script src="/admin/assets/js/bootstrap.min.js"></script>

<!-- Slimscroll JS -->
<script src="/admin/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<script src="/admin/assets/plugins/raphael/raphael.min.js"></script>
<script src="/admin/assets/plugins/morris/morris.min.js"></script>
<script src="/admin/assets/js/chart.morris.js"></script>

<!-- Custom JS -->
<script  src="/admin/assets/js/script.js"></script>

</body>

</html>