<!DOCTYPE html>
<html lang="en"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout}"
>
	<head>

	</head>
    <body>
        <div class="page-wrapper" layout:fragment="layoutContent">
			<div class="content container-fluid">
				<!-- Page Header -->
				<div class="page-header">
					<div class="row">
						<div class="col-sm-7 col-auto">
							<h3 class="page-title">List of Doctors</h3>
							<ul class="breadcrumb">
								<li class="breadcrumb-item"><a th:href="@{/dashboard}">Dashboard</a></li>
								<li class="breadcrumb-item active">Doctors</li>
							</ul>
						</div>
<!--							<div class="col-sm-5 col">-->
<!--								<a th:href="@{/admin/doctors/create}" class="btn btn-primary float-right mt-2">Add</a>-->
<!--							</div>-->
					</div>
				</div>
				<!-- /Page Header -->
				<div class="row">
					<div class="col-sm-12">
						<div class="card">
							<div class="card-body">
								<div class="alert alert-danger" th:if="${errorMessage}" th:text="${errorMessage}"></div>
								<div class="table-responsive">
									<div class="table-responsive">
										<table class="datatable table table-hover table-center mb-0">
											<thead>
												<tr>
													<th>Name</th>
													<th>User Name</th>
													<th>User Role</th>
													<th>Gender</th>
													<th>Email</th>
													<th>Phone</th>
													<th>Status</th>
													<th class="text-right">Actions</th>
												</tr>
											</thead>
											<tbody th:if="${#lists.isEmpty(doctors)}">
												<tr>No Data</tr>
											</tbody>
											<tbody th:unless="${#lists.isEmpty(doctors)}">
												<tr th:each="doctor : ${doctors}">
													<td>
														<h2 class="table-avatar">
															<a th:href="@{/doctor/profile/{id}(id=${doctor.id})}" class="avatar avatar-sm mr-2">
																<img class="avatar-img rounded-circle" alt="User Image" src="#" th:src="${doctor.theAvatar}"></a>
															<a th:href="@{/doctor/profile/{id}(id=${doctor.id})}" th:text="${doctor.fullName}"></a>
														</h2>
													</td>
													<td th:text="${doctor.username}"></td>
													<td th:each="role : ${doctor.roles}">
														<span th:text="${role.roleText}"></span>
													</td>
													<td th:text="${doctor.genderText}"></td>
													<td th:text="${doctor.email}"></td>
													<td th:text="${doctor.phone}"></td>
													<td th:text="${doctor.statusText}"></td>
													<td class="text-right">
														<div class="actions">
															<a class="btn btn-sm bg-success-light"
															   th:href="@{/admin/users/edit/{id}(id=${doctor.id})}"
															   th:utext="'<i class=\'fa fa-pencil\'></i> Edit'">Edit</a>
															<button type="button" class="btn btn-sm bg-danger-light" data-toggle="modal"
																	data-target="#confirmModal"
																	th:attr="data-whatever=${doctor.id}"
																	th:utext="'<i class=\'fa fa-trash\'></i> Delete'">Delete
															</button>
														</div>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal fade" id="confirmModal" aria-hidden="true" role="dialog">
				<div class="modal-dialog modal-dialog-centered" role="document" >
					<div class="modal-content">
						<form action="#" th:action="@{/admin/users/delete}" method="post">
							<div class="modal-body">
								<div class="form-content p-2">
									<h4 class="modal-title">Delete</h4>
									<p class="mb-4">Are you sure want to delete?</p>
									<input type="hidden" name="id" id="id">
									<button type="submit" class="btn btn-primary">Confirm</button>
									<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
        </div>
    </body>
</html>