<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
    <footer class="footer" th:fragment="footer">

        <!-- Footer Top -->
        <div class="footer-top">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3 col-md-6">

                        <!-- Footer Widget -->
                        <div class="footer-widget footer-about">
                            <div class="footer-logo">
                                <img src="/assets/img/footer-logo.png" alt="logo">
                            </div>
                            <div class="footer-about-content">
                                <p>Hanoi-Aptech với hơn 20 năm kinh nghiệm đào tạo Lập trình viên (2001-2022) tự hào là nhà cung cấp dịch vụ đào tạo Công nghệ thông tin hàng đầu tại Việt Nam cấp bằng Quốc Tế.</p>
                                <div class="social-icon">
                                    <ul>
                                        <li>
                                            <a href="https://www.facebook.com/aptech.vn" target="_blank"><i class="fab fa-facebook-f"></i> </a>
                                        </li>
                                        <li>
                                            <a href="https://www.facebook.com/aptech.vn" target="_blank"><i class="fab fa-instagram"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /Footer Widget -->

                    </div>

                    <div class="col-lg-3 col-md-6">

                        <!-- Footer Widget -->
                        <div class="footer-widget footer-menu">
                            <h2 class="footer-title">For Patients</h2>
                            <ul>
                                <li><a th:href="@{/search}">Search for Doctors</a></li>
                                <li><a th:href="@{/login}">Login</a></li>
                                <li><a th:href="@{/register}">Register</a></li>
                                <li><a th:href="@{/dashboard}">Patient Dashboard</a></li>
                            </ul>
                        </div>
                        <!-- /Footer Widget -->

                    </div>

                    <div class="col-lg-3 col-md-6">

                        <!-- Footer Widget -->
                        <div class="footer-widget footer-menu">
                            <h2 class="footer-title">For Doctors</h2>
                            <ul>
                                <li><a th:href="@{/dashboard/appointments}">Appointments</a></li>
                                <li><a th:href="@{/login}">Login</a></li>
                                <li><a th:href="@{/doctor-register}">Register</a></li>
                                <li><a th:href="@{/dashboard}">Doctor Dashboard</a></li>
                            </ul>
                        </div>
                        <!-- /Footer Widget -->

                    </div>

                    <div class="col-lg-3 col-md-6">

                        <!-- Footer Widget -->
                        <div class="footer-widget footer-contact">
                            <h2 class="footer-title">Contact Us</h2>
                            <div class="footer-contact-info">
                                <div class="footer-address">
                                    <span><i class="fas fa-map-marker-alt"></i></span>
                                    <p> Nhà C5, Đại học Thủy Lợi, 175 P. Tây Sơn, Trung Liệt,<br> Đống Đa, Hà Nội 100000</p>
                                </div>
                                <p>
                                    <i class="fas fa-phone-alt"></i>
                                    0382 020 858
                                </p>
                                <p class="mb-0">
                                    <i class="fas fa-envelope"></i>
                                    info@aptech.vn
                                </p>
                            </div>
                        </div>
                        <!-- /Footer Widget -->

                    </div>

                </div>
            </div>
        </div>
        <!-- /Footer Top -->

        <!-- Footer Bottom -->
        <div class="footer-bottom">
            <div class="container-fluid">

                <!-- Copyright -->
                <div class="copyright">
                    <div class="row">
                        <div class="col-md-6 col-lg-6">
                            <div class="copyright-text">
                                <p class="mb-0">&copy; 2022 Doccure. All rights reserved.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Copyright -->

            </div>
        </div>
        <!-- /Footer Bottom -->

    </footer>
</body>
</html>