<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="https://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout}"
>
	<head>
	</head>
	<body>
		<!-- Main Wrapper -->
		<div class="page-content" layout:fragment="layoutContent">
			<!-- Breadcrumb -->
			<div class="breadcrumb-bar">
				<div class="container-fluid">
					<div class="row align-items-center">
						<div class="col-md-12 col-12">
							<nav aria-label="breadcrumb" class="page-breadcrumb">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
									<li class="breadcrumb-item active" aria-current="page" th:href="@{/dashboard}">Dashboard</li>
								</ol>
							</nav>
							<h2 class="breadcrumb-title">Dashboard</h2>
						</div>
					</div>
				</div>
			</div>
			<!-- /Breadcrumb -->
			<!-- Page Content -->
			<div class="content">
				<div class="container-fluid">
					<div class="alert alert-success" th:if="${successMessage != null}" th:text="${successMessage}"></div>
					<div class="alert alert-danger" th:if="${errorMessage != null}" th:text="${errorMessage}"></div>
					<div class="row">
						<div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
							<th:block th:if="${user.isDoctor()}">
								<div th:replace="fragments/dashboard/doctorSidebar :: sidebar"></div>
							</th:block>
							<th:block th:unless="${user.isDoctor()}">
								<div th:replace="fragments/dashboard/patientSidebar :: sidebar"></div>
							</th:block>
						</div>
						<div class="col-md-7 col-lg-8 col-xl-9">
							<div class="card">
								<div class="card-body">
									<div class="row">
										<div class="col-md-12 col-lg-6">
											<!-- Change Password Form -->
											<form method="post" th:action="@{/dashboard/change-password}">
												<div class="form-group">
													<label>Old Password</label>
													<input type="password" class="form-control" id="password" name="password">
												</div>
												<div class="form-group">
													<label>New Password</label>
													<input type="password" class="form-control" id="newPassword" name="newPassword">
												</div>
												<div class="form-group">
													<label>Confirm Password</label>
													<input type="password" class="form-control" id="confirmPassword" name="confirmPassword">
												</div>
												<div class="submit-section">
													<button type="submit" class="btn btn-primary submit-btn">Save Changes</button>
												</div>
											</form>
											<!-- /Change Password Form -->
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /Page Content -->
		</div>
		<!-- /Main Wrapper -->
	</body>
</html>