<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
 lang="en">
<head>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCj6hY-uY2Ecs4irQeUuvApAXSoOCNbHZg&callback=googleMapInit&libraries=places" defer></script>
</head>
<body>
    <div class="home-content" layout:fragment="layoutContent">

        <!-- Home Banner -->
        <section class="section section-search">
            <div class="container-fluid">
                <div class="banner-wrapper">
                    <div class="banner-header text-center">
                        <h1>Search Doctor, Make an Appointment</h1>
                        <p>Discover the best doctors, clinic the city nearest to you.</p>
                    </div>

                    <!-- Search -->
                    <div class="search-box">
                        <form th:action="@{/search}" method="get">
                            <div class="form-group search-location">
                                <input id="searchLocation" class="form-control" placeholder="Search City" autocomplete="off">
                                <input type="hidden" name="city" value="" id="searchCity">
                                <input type="hidden" name="country" value="" id="searchCountry">
                                <input type="hidden" name="state" value="" id="searchState">
                                <span class="form-text">Based on your Location</span>
                            </div>
                            <div class="form-group search-info">
                                <input name="query" type="text" class="form-control" placeholder="Search Doctors, Clinics">
                                <span class="form-text">Ex : Dental or Sugar Check up etc</span>
                            </div>
                            <button type="submit" class="btn btn-primary search-btn mt-0"><i class="fas fa-search"></i> <span>Search</span></button>
                        </form>
                    </div>
                    <!-- /Search -->

                </div>
            </div>
        </section>
        <!-- /Home Banner -->

        <!-- Category Section -->
        <section class="section section-category">
            <div class="container">
                <div class="section-header text-center">
                    <h2>Browse by Specialities</h2>
                    <p class="sub-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="row" th:if="${#lists.isEmpty(specialities)}">
                    <div class="col-md-12">No data to display.</div>
                </div>
                <div class="row" th:unless="${#lists.isEmpty(specialities)}">
                    <div class="col-lg-2" th:each="speciality : ${specialities}">
                        <div class="speicality-item">
                            <a th:href="@{/speciality/{slug}(slug=${speciality.slug})}">
                                <div class="speicality-img">
                                    <img th:src="'/files/' + ${speciality.image}" th:alt="${speciality.name}" class="img-fluid">
                                    <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                </div>
                            </a>
                            <p><a th:href="@{/speciality/{slug}(slug=${speciality.slug})}"><th:block th:text="${speciality.name}"></th:block></a></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Category Section -->

        <!-- Popular Section -->
        <section class="section section-doctor">
            <div class="container-fluid">
                <div class="section-header text-center">
                    <h2>Book Our Best Doctor</h2>
                    <p class="sub-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="row" th:if="${#lists.isEmpty(doctors)}">
                    <div class="col-md-12">No data to display.</div>
                </div>
                <div class="row" th:unless="${#lists.isEmpty(doctors)}">
                    <div class="col-lg-12">
                        <div class="doctor-slider slider">
                            <!-- Doctor Widget -->
                            <div class="profile-widget" th:each="doctor : ${doctors}">
                                <div class="doc-img">
                                    <a th:href="@{/doctor/profile/{id}(id=${doctor.id})}">
                                        <img class="img-fluid" src="#" th:src="${doctor.theAvatar}" alt="User Image">
                                    </a>
                                </div>
                                <div class="pro-content">
                                    <h3 class="title">
                                        <a th:href="@{/doctor/profile/{id}(id=${doctor.id})}" th:text="${doctor.fullName}"></a>
                                        <i class="fas fa-check-circle verified"></i>
                                    </h3>
                                    <p class="speciality" th:if="${doctor?.clinic?.specialities != null}" th:text="${doctor?.clinic?.specialities}"></p>
                                    <div class="rating" th:unless="${#lists.isEmpty(doctor?.doctorReviews)}">
                                        <th:block th:each="i : ${#numbers.sequence(1,5)}">
                                            <i class="fas fa-star filled" th:if="${i - doctor.avgReview < 0.5}"></i>
                                            <i class="fas fa-star-half-alt filled" th:if="${i - doctor.avgReview == 0.5}"></i>
                                            <i class="far fa-star" th:if="${i - doctor.avgReview > 0.5}"></i>
                                        </th:block>
                                        <span class="d-inline-block average-rating" th:text="'(' + ${doctor?.doctorReviews?.size()} + ')'">(0)</span>
                                    </div>
                                    <ul class="available-info">
                                        <li th:if="${doctor?.clinic?.city != null}"> <i class="fas fa-map-marker-alt"></i> <span th:text="${doctor?.clinic?.city} + ', ' + ${doctor?.clinic?.country}"></span></li>
                                        <li> <i class="far fa-clock"></i> Available on Fri, 22 Mar</li>
                                    </ul>
                                    <div class="row row-sm">
                                        <div class="col-sm-6 mb-1 mb-sm-0"> <a class="btn view-btn" th:href="@{/doctor/profile/{id}(id=${doctor.id})}">View Profile</a></div>
                                        <div class="col-sm-6"> <a th:href="@{/doctor/profile/{id}/booking(id=${doctor.id})}" class="btn book-btn">Book Now</a></div>
                                    </div>
                                </div>
                            </div>
                            <!-- /Doctor Widget -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /Popular Section -->

    </div>

    <th:block layout:fragment="customScripts">
        <script>
            const googleMapInit = () => {
                const searchCity = document.getElementById('searchCity');
                const searchState = document.getElementById('searchState');
                const searchCountry = document.getElementById('searchCountry');

                const searchLocation = document.getElementById('searchLocation');

                const autocomplete = new google.maps.places.Autocomplete(searchLocation, {
                    fields: ["address_components", "geometry"],
                    types: ["(cities)"],
                });

                autocomplete.addListener('place_changed', () => {
                    const address = gMapHelpers.parseAddress(autocomplete.getPlace());
                    searchCity.value = address.city
                    searchState.value = address.state
                    searchCountry.value = address.country
                });
            }
            window.googleMapInit = googleMapInit;
        </script>
    </th:block>
</body>
</html>