<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
>
<head>
    <title>404 - Page Not Found - Doccure</title>
</head>
<body>
<div class="home-content" layout:fragment="layoutContent">

    <!-- Page Content -->
    <div class="content p-0">
        <div class="container-fluid">

            <div class="row justify-content-center">
                <div class="col-lg-6">

                    <div class="error-box py-5 my-5 text-center">
                        <h1 class="display-3 font-weight-bold">404</h1>
                        <h3 class="h2 mb-3">Oops! Page not found!</h3>
                        <p class="h4 font-weight-normal">The page you requested was not found.</p>
                        <a th:href="@{/}" class="btn btn-primary my-4">Back to Home</a>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <!-- /Page Content -->

</div>
</body>
</html>