<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">

    <meta name="_csrf" th:content="${_csrf.token}"/>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <title>Doccure</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

    <!-- Favicons -->
    <link href="/assets/img/favicon.png" rel="icon">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="/assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="/assets/plugins/fontawesome/css/all.min.css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/assets/js/html5shiv.min.js"></script>
    <script src="/assets/js/respond.min.js"></script>
    <![endif]-->
    <script src="/assets/js/app.js"></script>
    <link href="/assets/css/select2.min.css" rel="stylesheet" />

    <th:block layout:fragment="headerBeforeStyle"></th:block>

    <!-- Main CSS -->
    <link rel="stylesheet" href="/assets/css/preloader.css">
    <link rel="stylesheet" href="/assets/css/style.css">

    <!-- jQuery -->
    <script src="/assets/js/jquery.min.js"></script>

    <!-- Slick JS -->
    <script src="/assets/js/slick.js"></script>

    <!-- Select2 JS -->
    <script src="/assets/js/select2.min.js"></script>

    <!-- Sticky Sidebar JS -->
    <script src="/assets/plugins/theia-sticky-sidebar/ResizeSensor.js"></script>
    <script src="/assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js"></script>

    <th:block layout:fragment="headerAfterStyle"></th:block>

</head>
<body th:classappend="${userRolesBodyClass}">

    <!-- Main Wrapper -->
    <div class="main-wrapper">

        <!-- Header -->
        <div th:replace="fragments/header :: header"></div>
        <!-- /Header -->

        <!-- Page Content -->
        <div layout:fragment="layoutContent"></div>
        <!-- /Page Content -->

        <!-- Footer -->
        <div th:replace="fragments/footer :: footer"></div>
        <!-- /Footer -->

    </div>
    <!-- /Main Wrapper -->

    <th:block layout:fragment="layoutExtra"></th:block>

    <div id="preloader">
        <div class="triple-spinner"></div>
    </div>

    <!-- Bootstrap Core JS -->
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>

    <th:block layout:fragment="customScripts"></th:block>

    <!-- Custom JS -->
    <script src="/assets/js/script.js"></script>

    <script>
        jQuery(document).ready(function($){
            setTimeout(() => {
                $('#preloader').fadeOut()
            }, 300)
        });

        document.querySelectorAll('.fav-btn').forEach((btn) => {
            btn.onclick = (e) => {
                e.preventDefault();
                let $btn = jQuery(btn);
                favoriteDoctorToggle($btn)
            }
        })
    </script>

</body>
</html>