<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      lang="en">
<head>

</head>
<body>
<div class="home-content" layout:fragment="layoutContent">

    <!-- Breadcrumb -->
    <div class="breadcrumb-bar">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-md-8 col-12">
                    <nav aria-label="breadcrumb" class="page-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a th:href="${#request.contextPath}">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Search</li>
                        </ol>
                    </nav>
                    <h2 class="breadcrumb-title" th:unless="${#lists.isEmpty(doctors)}"><span th:text="${#lists.size(doctors)}"></span> matches found for:
                        <span th:text="${param.query}"></span> In <span th:text="${param.location}"></span></h2>
                </div>
            </div>
        </div>
    </div>
    <!-- /Breadcrumb -->

    <!-- Page Content -->
    <div class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12 col-lg-4 col-xl-3 theiaStickySidebar">

                    <!-- Search Filter -->
                    <div class="card search-filter">

                        <div class="card-header">
                            <h4 class="card-title mb-0">Search Filter</h4>
                        </div>
                        <div class="card-body">
                            <form action="#" th:action="@{/search}" method="GET">
                                <div class="filter-widget">
                                    <input th:name="location" th:value="${param.location}" type="text" class="form-control" placeholder="Search Location">
                                </div>
                                <div class="filter-widget">
                                    <input th:name="query" th:value="${param.query}" type="text" class="form-control" placeholder="Search Doctors, Clinics">
                                </div>
                                <div class="filter-widget">
                                    <h4>Gender</h4>
                                    <div>
                                        <label class="custom_check">
                                            <input type="checkbox" th:name="gender" value="0"
                                                   th:checked="${param.gender != null && #arrays.contains(param.gender, '0')}">
                                            <span class="checkmark"></span> Male Doctor
                                        </label>
                                    </div>
                                    <div>
                                        <label class="custom_check">
                                            <input type="checkbox" th:name="gender" value="1"
                                                   th:checked="${param.gender != null && #arrays.contains(param.gender, '1')}">
                                            <span class="checkmark"></span> Female Doctor
                                        </label>
                                    </div>
                                </div>
                                <div class="filter-widget">
                                    <h4>Select Specialist</h4>
                                    <div th:each="speaciality : ${specialities}">
                                        <label class="custom_check">
                                            <th:block th:if="${specialityId != null}">
                                                <input type="checkbox"
                                                       th:checked="${specialityId == speaciality.id}"
                                                       th:name="specialities" th:value="${speaciality.id}">
                                            </th:block>
                                            <th:block th:if="${specialityId == null}">
                                                <input type="checkbox"
                                                       th:checked="${param.specialities != null && #arrays.contains(param.specialities, speaciality.id + '')}"
                                                       th:name="specialities" th:value="${speaciality.id}">
                                            </th:block>
                                            <input type="checkbox"
                                                   th:checked="${param.specialities != null && #arrays.contains(param.specialities, speaciality.id + '')}"
                                                   th:name="specialities" th:value="${speaciality.id}">
                                            <span class="checkmark"></span> <span th:text="${speaciality.name}"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="filter-widget">
                                    <h4>Select Services</h4>
                                    <div th:each="service : ${services}">
                                        <label class="custom_check">
                                            <th:block th:if="${serviceId != null}">
                                                <input type="checkbox"
                                                       th:checked="${serviceId == service.id}"
                                                       th:name="services" th:value="${service.id}">
                                            </th:block>
                                            <th:block th:if="${specialityId == null}">
                                                <input type="checkbox"
                                                       th:checked="${param.services != null && #arrays.contains(param.services, service.id + '')}"
                                                       th:name="services" th:value="${service.id}">
                                            </th:block>
                                            <input type="checkbox"
                                                   th:checked="${param.services != null && #arrays.contains(param.services, service.id + '')}"
                                                   th:name="services" th:value="${service.id}">
                                            <span class="checkmark"></span> <span th:text="${service.name}"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="btn-search">
                                    <button type="submit" class="btn btn-block">Search</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- /Search Filter -->

                </div>

                <div class="col-md-12 col-lg-8 col-xl-9">
                    <div class="card" th:if="${#lists.isEmpty(doctors)}">
                        <div class="card-body">
                            No data.
                        </div>
                    </div>
                    <section th:unless="${#lists.isEmpty(doctors)}">
                        <!-- Doctor Widget -->
                        <div class="card" th:each="doctor : ${doctors}">
                            <div class="card-body">
                                <div class="doctor-widget">
                                    <div class="doc-info-left">
                                        <div class="doctor-img">
                                            <a th:href="@{/doctor/profile/{id}(id=${doctor.id})}">
                                                <img th:src="${doctor.theAvatar}" class="img-fluid"
                                                     alt="User Image">
                                            </a>
                                        </div>
                                        <div class="doc-info-cont">
                                            <h4 class="doc-name"><a th:href="@{/doctor/profile/{id}(id=${doctor.id})}"
                                                                    th:text="${doctor.fullName}"></a></h4>
                                            <p class="doc-speciality" th:text="${doctor?.clinic?.specialities}"></p>
                                            <h5 class="doc-department">
                                                <th:block th:each="speciality : ${doctor?.specialities}">
                                                    <a th:href="@{/speciality/{slug}(slug=${speciality.slug})}">
                                                        <img src="#" th:src="'/files/' + ${speciality.image}"
                                                         class="img-fluid" th:alt="${speciality.name}"> <span
                                                        th:text="${speciality.name}"></span>
                                                    </a>
                                                </th:block>
                                            </h5>
                                            <div class="clinic-details">
                                                <p class="doc-location"><i class="fas fa-map-marker-alt"></i>
                                                    <span th:if="${doctor?.clinic?.city != null}"
                                                            th:text="${doctor?.clinic?.city} + ', ' + ${doctor?.clinic?.country}"></span>
                                                    <span th:if="${doctor?.clinic?.city == null}">Unknown</span>
                                                </p>
                                                <ul class="clinic-gallery">
                                                    <li th:each="img : ${doctor?.clinic?.images}">
                                                        <a th:href="@{${'/images/' + img}}"
                                                           data-fancybox="gallery">
                                                            <img th:src="@{${'/images/' + img}}"
                                                                 th:attr="data-image=${img}" alt="Feature">
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="clinic-services">
                                            <span th:each="service : ${doctor?.services}">
                                                <a href="/search.html" th:text="${service.name}"></a>
                                            </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="doc-info-right">
                                        <div class="clini-infos">
                                            <ul>
                                                <li><i class="fas fa-map-marker-alt"></i>
                                                    <span th:if="${doctor?.clinic?.city != null}"
                                                        th:text="${doctor?.clinic?.city} + ', ' + ${doctor?.clinic?.country}"></span>
                                                    <span th:if="${doctor?.clinic?.city == null}">Unknown</span>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="clinic-booking">
                                            <a class="view-pro-btn" th:href="@{/doctor/profile/{id}(id=${doctor.id})}">View
                                                Profile</a>
                                            <a class="apt-btn"
                                               th:href="@{/doctor/profile/{id}/booking(id=${doctor.id})}">Book
                                                Appointment</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /Doctor Widget -->
                    </section>
                </div>
            </div>

        </div>

    </div>
</body>
</html>