<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout}"
>
<head></head>
    <body>
        <div class="page-wrapper" layout:fragment="layoutContent">
            <div class="content container-fluid">
                <div class="page-header">
                    <div class="row">
                        <div class="col">
                            <h3 class="page-title">Edit User</h3>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a th:href="@{/admin}">Dashboard</a></li>
                                <li class="breadcrumb-item"><a th:href="@{/admin/users}">Users</a></li>
                                <li class="breadcrumb-item active">Edit User</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title" th:text="${editUser.fullName}"></h4>
                            </div>
                            <div class="card-body">
                                <div class="alert alert-success" th:if="${successMessage}" th:text="${successMessage}"></div>
                                <div class="alert alert-danger" th:if="${errorMessage}" th:text="${errorMessage}"></div>
                                <form action="#" th:action="@{/admin/users/{id}(id=${editUser.id})}" th:object="${editUser}" th:method="put" enctype="multipart/form-data">
                                    <input type="hidden" th:field="*{id}">
                                    <input type="hidden" th:field="*{password}">
                                    <input type="hidden" th:field="*{avatar}">
                                    <div th:if="${#fields.hasAnyErrors()}">
                                        <ul>
                                            <li th:each="err : ${#fields.allErrors()}" th:text="${err}" />
                                        </ul>
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="col-4 col-sm-2">
                                            <img class="rounded-circle d-block w-100" alt="User Image" src="#" th:src="*{theAvatar}">
                                            <input type="file" th:field="*{avatarMultipartFile}" class="form-control">
                                            <p th:if="${#fields.hasErrors('avatarMultipartFile')}" th:errors="*{avatarMultipartFile}" class="invalid-feedback">Image
                                                Error</p>
                                        </div>
                                        <div class="col-12 col-sm-10">
                                            <div class="row form-row">
                                                <div class="col-12 col-sm-6">
                                                    <div class="form-group">
                                                        <label>Username</label>
                                                        <input type="text" class="form-control" th:field="*{username}" readonly>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-6">
                                                    <label>Status</label>
                                                    <div class="form-group">
                                                        <select class="form-control" th:field="*{status}">
                                                            <option value="1">Activated</option>
                                                            <option value="0">Locked</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-6">
                                                    <div class="form-group">
                                                        <label>First Name</label>
                                                        <input type="text" class="form-control" th:field="*{firstName}">
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-6">
                                                    <div class="form-group">
                                                        <label>Last Name</label>
                                                        <input type="text" class="form-control" th:field="*{lastName}">
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-6">
                                                    <div class="form-group">
                                                        <label>Date of Birth</label>
                                                        <input type="date" class="form-control datetimepicker-input" th:field="*{dob}"/>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-6">
                                                    <label>Gender</label>
                                                    <div class="form-group">
                                                        <select class="form-control" th:field="*{gender}" required="required">
                                                            <option value="" disabled="disabled">----- Select Gender -----</option>
                                                            <option th:value="1" th:text="Male"></option>
                                                            <option th:value="0" th:text="Female"></option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row form-row">
                                        <div class="col-12 col-sm-6">
                                            <div class="form-group">
                                                <label>Email ID</label>
                                                <input type="email" class="form-control" th:field="*{email}">
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6">
                                            <div class="form-group">
                                                <label>Phone</label>
                                                <input type="text" class="form-control" th:field="*{phone}">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                            <label>Address Line 1</label>
                                                <input type="text" class="form-control" th:field="*{patientAddress.addressLine1}">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label>Address Line 2</label>
                                                <input type="text" class="form-control" th:field="*{patientAddress.addressLine2}">
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6">
                                            <div class="form-group">
                                                <label>City</label>
                                                <input type="text" class="form-control" th:field="*{patientAddress.city}">
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6">
                                            <div class="form-group">
                                                <label>State</label>
                                                <input type="text" class="form-control" th:field="*{patientAddress.state}">
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6">
                                            <div class="form-group">
                                                <label>Zip Code</label>
                                                <input type="number" class="form-control" th:field="*{patientAddress.postalCode}">
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6">
                                            <div class="form-group">
                                                <label>Country</label>
                                                <input type="text" class="form-control" th:field="*{patientAddress.country}">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label>Role</label>
                                                <select class="form-control roles-multiple" th:field="*{roles}" multiple="multiple" required="required">
                                                    <option value="" disabled="disabled">----- Select Role -----</option>
                                                    <option th:each="role : ${userRoles}"
                                                            th:value="${role.getRoleValueText()}"
                                                            th:text="${role.getRoleText()}"
                                                            th:selected="${user.roles.contains(role)}">
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-right">
                                        <a th:href="@{/admin/users}" class="btn btn-link"><i class="fa fa-chevron-left"></i> Back</a>
                                        <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Save</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <th:block layout:fragment="customScripts">
            <script type="text/javascript">
                $(document).ready(function() {
                    $('.roles-multiple').select2();
                });
            </script>
        </th:block>
    </body>
</html>