<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout}"
>
<head>

</head>
<body>
<div class="page-wrapper" layout:fragment="layoutContent">
    <div class="content container-fluid">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title">Welcome Admin!</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item active"><a th:href="@{/dashboard}">Dashboard</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->

        <div class="row">
            <div class="col-sm-4 col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="dash-widget-header">
										<span class="dash-widget-icon text-primary border-primary">
											<i class="fa fa-user-md" aria-hidden="true"></i>
										</span>
                            <div class="dash-count">
                                <h3 th:text="${countDoctors}">0</h3>
                            </div>
                        </div>
                        <div class="dash-widget-info">
                            <h6 class="text-muted">Doctors</h6>
                            <div class="progress progress-sm">
                                <div class="progress-bar bg-primary w-50"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="dash-widget-header">
										<span class="dash-widget-icon text-success">
											<i class="fa fa-user-plus" aria-hidden="true"></i>
										</span>
                            <div class="dash-count">
                                <h3 th:text="${countPatients}">0</h3>
                            </div>
                        </div>
                        <div class="dash-widget-info">

                            <h6 class="text-muted">Patients</h6>
                            <div class="progress progress-sm">
                                <div class="progress-bar bg-success w-50"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="dash-widget-header">
										<span class="dash-widget-icon text-danger border-danger">
											<i class="fa fa-calendar-check-o" aria-hidden="true"></i>
										</span>
                            <div class="dash-count">
                                <h3>0</h3>
                            </div>
                        </div>
                        <div class="dash-widget-info">

                            <h6 class="text-muted">Appointments</h6>
                            <div class="progress progress-sm">
                                <div class="progress-bar bg-danger w-50"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 d-flex">

                <!-- Recent Orders -->
                <div class="card card-table flex-fill">
                    <div class="card-header">
                        <h4 class="card-title">Doctors List</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover table-center mb-0">
                                <thead>
                                <tr>
                                    <th>Doctor Name</th>
                                    <th>Speciality</th>
                                    <th>Reviews</th>
                                </tr>
                                </thead>
                                <tbody th:if="${#lists.isEmpty(listDoctors)}">
                                <tr>
                                    <td colspan="4">No data.</td>
                                </tr>
                                </tbody>
                                <tbody th:unless="${#lists.isEmpty(listDoctors)}">
                                <tr th:each="doctor : ${listDoctors}">
                                    <td>
                                        <h2 class="table-avatar">
                                            <a th:href="@{/doctor/profile/{id}(id=${doctor.id})}" class="avatar avatar-sm mr-2">
                                                <img class="avatar-img rounded-circle" th:src="${doctor.theAvatar}" alt="User Image">
                                            </a>
                                            <a th:href="@{/doctor/profile/{id}(id=${doctor.id})}" th:text="${doctor.fullName}"></a>
                                        </h2>
                                    </td>
                                    <td th:text="${doctor?.clinic?.specialities}"></td>
                                    <td>
                                        <i class="fa fa-star text-warning"></i>
                                        <i class="fa fa-star text-warning"></i>
                                        <i class="fa fa-star text-warning"></i>
                                        <i class="fa fa-star text-warning"></i>
                                        <i class="fa fa-star text-secondary"></i>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- /Recent Orders -->

            </div>
            <div class="col-md-6 d-flex">

                <!-- Feed Activity -->
                <div class="card  card-table flex-fill">
                    <div class="card-header">
                        <h4 class="card-title">Patients List</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover table-center mb-0">
                                <thead>
                                <tr>
                                    <th>Patient Name</th>
                                    <th>Phone</th>
                                    <th>Last Appointment</th>
                                </tr>
                                </thead>
                                <tbody th:if="${#lists.isEmpty(listPatients)}">
                                <tr>
                                    <td colspan="4">No data.</td>
                                </tr>
                                </tbody>
                                <tbody th:unless="${#lists.isEmpty(listPatients)}">
                                <tr th:each="patient : ${listPatients}">
                                    <td>
                                        <h2 class="table-avatar">
                                            <a th:href="@{/doctor/profile/{id}(id=${patient.id})}" class="avatar avatar-sm mr-2">
                                                <img class="avatar-img rounded-circle" th:src="${patient.theAvatar}" alt="User Image">
                                            </a>
                                            <a th:href="@{/doctor/profile/{id}(id=${patient.id})}" th:text="${patient.fullName}"></a>
                                        </h2>
                                    </td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- /Feed Activity -->

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">

                <!-- Recent Orders -->
                <div class="card card-table">
                    <div class="card-header">
                        <h4 class="card-title">Appointment List</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover table-center mb-0">
                                <thead>
                                <tr>
                                    <th>Doctor Name</th>
                                    <th>Speciality</th>
                                    <th>Patient Name</th>
                                    <th>Apointment Time</th>
                                    <th>Status</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        <h2 class="table-avatar">
                                            <a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="/admin/assets/img/doctors/doctor-thumb-01.jpg" alt="User Image"></a>
                                            <a href="profile.html">Dr. Ruby Perrin</a>
                                        </h2>
                                    </td>
                                    <td>Dental</td>
                                    <td>
                                        <h2 class="table-avatar">
                                            <a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="/admin/assets/img/patients/patient1.jpg" alt="User Image"></a>
                                            <a href="profile.html">Charlene Reed </a>
                                        </h2>
                                    </td>
                                    <td>9 Nov 2019 <span class="text-primary d-block">11.00 AM - 11.15 AM</span></td>
                                    <td>
                                        <div class="status-toggle">
                                            <input type="checkbox" id="status_1" class="check" checked>
                                            <label for="status_1" class="checktoggle">checkbox</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h2 class="table-avatar">
                                            <a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="/admin/assets/img/doctors/doctor-thumb-02.jpg" alt="User Image"></a>
                                            <a href="profile.html">Dr. Darren Elder</a>
                                        </h2>
                                    </td>
                                    <td>Dental</td>
                                    <td>
                                        <h2 class="table-avatar">
                                            <a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="/admin/assets/img/patients/patient2.jpg" alt="User Image"></a>
                                            <a href="profile.html">Travis Trimble </a>
                                        </h2>
                                    </td>

                                    <td>5 Nov 2019 <span class="text-primary d-block">11.00 AM - 11.35 AM</span></td>
                                    <td>
                                        <div class="status-toggle">
                                            <input type="checkbox" id="status_2" class="check" checked>
                                            <label for="status_2" class="checktoggle">checkbox</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h2 class="table-avatar">
                                            <a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="/admin/assets/img/doctors/doctor-thumb-03.jpg" alt="User Image"></a>
                                            <a href="profile.html">Dr. Deborah Angel</a>
                                        </h2>
                                    </td>
                                    <td>Cardiology</td>
                                    <td>
                                        <h2 class="table-avatar">
                                            <a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="/admin/assets/img/patients/patient3.jpg" alt="User Image"></a>
                                            <a href="profile.html">Carl Kelly</a>
                                        </h2>
                                    </td>
                                    <td>11 Nov 2019 <span class="text-primary d-block">12.00 PM - 12.15 PM</span></td>
                                    <td>
                                        <div class="status-toggle">
                                            <input type="checkbox" id="status_3" class="check" checked>
                                            <label for="status_3" class="checktoggle">checkbox</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h2 class="table-avatar">
                                            <a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="/admin/assets/img/doctors/doctor-thumb-04.jpg" alt="User Image"></a>
                                            <a href="profile.html">Dr. Sofia Brient</a>
                                        </h2>
                                    </td>
                                    <td>Urology</td>
                                    <td>
                                        <h2 class="table-avatar">
                                            <a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="/admin/assets/img/patients/patient4.jpg" alt="User Image"></a>
                                            <a href="profile.html"> Michelle Fairfax</a>
                                        </h2>
                                    </td>
                                    <td>7 Nov 2019<span class="text-primary d-block">1.00 PM - 1.20 PM</span></td>
                                    <td>
                                        <div class="status-toggle">
                                            <input type="checkbox" id="status_4" class="check" checked>
                                            <label for="status_4" class="checktoggle">checkbox</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h2 class="table-avatar">
                                            <a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="/admin/assets/img/doctors/doctor-thumb-05.jpg" alt="User Image"></a>
                                            <a href="profile.html">Dr. Marvin Campbell</a>
                                        </h2>
                                    </td>
                                    <td>Orthopaedics</td>
                                    <td>
                                        <h2 class="table-avatar">
                                            <a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="/admin/assets/img/patients/patient5.jpg" alt="User Image"></a>
                                            <a href="profile.html">Gina Moore</a>
                                        </h2>
                                    </td>

                                    <td>15 Nov 2019 <span class="text-primary d-block">1.00 PM - 1.15 PM</span></td>
                                    <td>
                                        <div class="status-toggle">
                                            <input type="checkbox" id="status_5" class="check" checked>
                                            <label for="status_5" class="checktoggle">checkbox</label>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- /Recent Orders -->

            </div>
        </div>

    </div>
</div>
</body>
</html>