<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
>
<head>
    <meta charset="UTF-8">
    <title>Dashboard - Doctor Clinic Settings - Doccure</title>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB41DRUbKWJHPxaFjMAwdrzWzbVKartNGg&callback=clinicInit&libraries=places" defer></script>
    <style>
        #clinic_location_map {
            width: 980px;
            height: 500px;
        }
        .dropzone {
            padding: 5em 2em;
        }
        
        .dropzone > input[type="file"] {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            cursor: pointer;
            /* opacity: 0; */
        }
        
        .dropzone .dropzone-message {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        
        .input-group-text .select2-container .select2-selection--single {
            border: none;
            height: unset;
            border-radius: 0;
        }

        .select2-container--open .select2-dropdown--below {
            width: 202px !important;
            left: -1px;
            right: -1px;
        }

        /* .input-group-text > .form-control {
            min-height: unset;
        }
        
        .input-group-text .select2-container--default .select2-selection--single .select2-selection__rendered {
            line-height: unset;
        }
        
        .input-group-text .select2-container--default .select2-selection--single .select2-selection__arrow {
            height: 100%;
        } */

        #country {
            width: 200px;
        }
    </style>
</head>
<body>
    <div class="page-content" layout:fragment="layoutContent">

        <!-- Breadcrumb -->
        <div class="breadcrumb-bar">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-12 col-12">
                        <nav aria-label="breadcrumb" class="page-breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Profile Settings</li>
                            </ol>
                        </nav>
                        <h2 class="breadcrumb-title">Profile Settings</h2>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Breadcrumb -->

        <!-- Page Content -->
        <div class="content">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">

                        <div th:replace="fragments/dashboard/doctorSidebar :: sidebar"></div>

                    </div>
                    <div class="col-md-7 col-lg-8 col-xl-9">

                        <form id="clinicForm" th:action="@{/dashboard/clinic-settings}" th:object="${clinic}" method="post" enctype="multipart/form-data">

						    <div class="alert alert-success" th:if="${successMessage}" th:text="${successMessage}"></div>

                            <div th:if="${#fields.hasAnyErrors()}">
                                <div class="alert alert-danger" th:each="err : ${#fields.allErrors()}" th:text="${err}"></div>
                            </div>

                            <!-- Clinic Info -->
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Clinic Info</h4>
                                    <div class="row form-row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Clinic Name <span class="text-danger">*</span></label>
                                                <input type="text" class="form-control" required th:field="*{name}">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Clinic Specializations <span class="text-danger">*</span></label>
                                                <input type="text" class="form-control" required th:field="*{specialities}">
                                            </div>
                                        </div>
                                        <!-- <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label">Country <span class="text-danger">*</span></label>
                                                <select th:field="*{country}" id="country" required class="form-control select2">
                                                    <option value=""></option>
                                                    <option th:each="locale : ${locales}" th:value="${locale.country}" th:text="${locale.displayCountry}"></option>
                                                </select>
                                            </div>
                                        </div> -->
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="searchAddress">Search Address</label>
                                                <small class="text-muted font-italic">(Select Country first then search your address)</small>
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i class="fas fa-search"></i></span>
                                                        <span class="input-group-text p-0">
                                                            <select th:field="*{country}" id="country" required class="form-control select2">
                                                                <option value=""></option>
                                                                <option th:each="locale : ${locales}" th:value="${locale.country}" th:text="${locale.displayCountry}"></option>
                                                            </select>
                                                        </span>
                                                    </div>
                                                    <input id="searchAddress" class="form-control" placeholder="Search address" autocomplete="off"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Address Line 1 <span class="text-danger">*</span></label>
                                                <input type="text" class="form-control" required th:field="*{addressLine1}">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="control-label">Address Line 2</label>
                                                <input type="text" class="form-control" th:field="*{addressLine2}">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label">City <span class="text-danger">*</span></label>
                                                <input type="text" id="city" class="form-control" required th:field="*{city}" readonly>
                                            </div>
                                        </div>
    
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label">State / Province <span class="text-danger">*</span></label>
                                                <input type="text" id="state" class="form-control" required th:field="*{state}" readonly>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label">Postal Code</label>
                                                <input type="text" id="postalCode" class="form-control" name="postal_code" th:field="*{postalCode}" readonly>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="control-label">Location</label>
                                                <small class="text-muted font-italic">(Drop the pin where your clinic is located)</small>
                                                <div id="clinic_location_map"></div>
                                                <input type="hidden" id="clinicInputLat" th:field="*{lat}">
                                                <input type="hidden" id="clinicInputLong" th:field="*{lng}">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Clinic Images</label>
                                                <div class="dropzone position-relative">
                                                    <input type="file" id="clinicImageInput" multiple accept=".png,.jpeg,.jpg">
                                                    <div class="dropzone-message display-5 position-absolute">Drop files here to upload</div>
                                                </div>
                                            </div>
                                            <div class="upload-wrap" id="clinicUploadWrap">
                                                <div class="upload-images uploaded-file" th:each="img : ${clinic.images}">
                                                    <img th:src="@{${'/images/' + img}}" th:attr="data-image=${img}" alt="Clinic Image">
                                                    <a href="javascript:void(0);" class="btn btn-icon btn-danger btn-sm btn-rm"><i class="far fa-trash-alt"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /Clinic Info -->
                            
                            <div class="submit-section submit-btn-bottom">
                                <button type="submit" class="btn btn-primary submit-btn">Save Changes</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>

            <div layout:fragment="layoutExtra"></div>
            <div layout:fragment="customScripts">
                <script src="/assets/js/doctor-clinic.js"></script>
                <script>
                    const clinicForm = document.getElementById('clinicForm');
                    const clinicFiles = {
                        files: [],
                        wrap: document.getElementById('clinicUploadWrap'),
                        renderPreview() {
                            for (let i in this.files) {
                                let file = this.files[i];
                                let imgUrl = window.URL.createObjectURL(file);

                                let imgDelBtn = document.createElement('a');
                                imgDelBtn.href = 'javascript:void(0);';
                                imgDelBtn.classList.add('btn', 'btn-icon', 'btn-danger', 'btn-sm')
                                imgDelBtn.innerHTML = '<i class="far fa-trash-alt"></i>';

                                let imgItem = document.createElement('div');
                                imgItem.classList.add('upload-images');
                                imgItem.innerHTML = `<img src="${imgUrl}" alt="Upload Image">`;
                                imgItem.appendChild(imgDelBtn);

                                let input = document.createElement('input');
                                let container = new DataTransfer(); 
                                container.items.add(file);

                                input.name = `postedImages[${i}]`;
                                input.type = 'file';
                                input.files = container.files;
                                input.classList.add('sr-only', 'sr-only-focusable');

                                clinicForm.appendChild(input);

                                imgDelBtn.onclick = () => {
                                    imgItem.remove();
                                    this.files = this.files.filter((_file) => _file != file)
                                    clinicForm.querySelector(`input[name="postedImages[${i}]"]`).remove();
                                }

                                this.wrap.appendChild(imgItem);
                            }
                        },
                    };
                    
                    clinicFiles.wrap.querySelectorAll('.uploaded-file').forEach((el) => {
                        let removeBtn = el.querySelector('.btn-rm')
                        if (removeBtn) {
                            removeBtn.onclick = (e) => {
                                e.preventDefault();
                                el.remove();

                                let input = document.createElement('input');
                                input.type = 'hidden';
                                input.name = 'deletedImages[]';
                                input.value = el.querySelector('img').dataset.image;
                                clinicForm.appendChild(input);
                            }
                        }
                    })

                    document.getElementById('clinicImageInput').onchange = function() {
                        for (let file of this.files) {
                            clinicFiles.files.push(file);
                        }
                        clinicFiles.renderPreview();
                        
                        this.value = ''; //reset files
                    }

                    jQuery('.select2').select2({
                        placeholder: "Select Country",
                    });
                </script>
            </div>

        </div>
        <!-- /Page Content -->
    </div>
</body>
</html>