<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
>
<head>
    <meta charset="UTF-8">
    <title>Patient Dashboard</title>
</head>
<body>
    <div class="page-content" layout:fragment="layoutContent">

        <!-- Breadcrumb -->
        <div class="breadcrumb-bar">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-12 col-12">
                        <nav aria-label="breadcrumb" class="page-breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                            </ol>
                        </nav>
                        <h2 class="breadcrumb-title">Dashboard</h2>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Breadcrumb -->

        <!-- Page Content -->
        <div class="content">
            <div class="container-fluid">

                <div class="row">

                    <!-- Profile Sidebar -->
                    <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
                        <div th:replace="fragments/dashboard/patientSidebar :: sidebar"></div>
                    </div>
                    <!-- / Profile Sidebar -->

                    <div class="col-md-7 col-lg-8 col-xl-9">

                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-4 col-xl-3 patient-dashboard-top">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <div class="mb-3">
                                            <img src="assets/img/patient-gender.png" alt="" width="55">
                                        </div>
                                        <h5>Gender</h5>
                                        <h6>Female</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4 col-xl-3 patient-dashboard-top">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <div class="mb-3">
                                            <img src="assets/img/patient-blood-type.png" alt="" width="55">
                                        </div>
                                        <h5>Blood Type</h5>
                                        <h6>AB+</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4 col-xl-3 patient-dashboard-top">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <div class="mb-3">
                                            <img src="assets/img/patient-height.png" alt="" width="55">
                                        </div>
                                        <h5>Height</h5>
                                        <h6>160 <small>cm</small></h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4 col-xl-3 patient-dashboard-top">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <div class="mb-3">
                                            <img src="assets/img/patient-weight.png" alt="" width="55">
                                        </div>
                                        <h5>Weight</h5>
                                        <h6>50 <small>kg</small></h6>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card card-table mb-0">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-hover table-center mb-0">
                                        <thead>
                                        <tr>
                                            <th>Doctor</th>
                                            <th>Appt Date</th>
                                            <th>Starting Time</th>
                                            <th>Ending Time</th>
                                            <th>Booking Date</th>
                                            <th>Status</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>
                                                <h2 class="table-avatar">
                                                    <a href="doctor-profile.html" class="avatar avatar-sm mr-2">
                                                        <img class="avatar-img rounded-circle" src="assets/img/doctors/doctor-thumb-01.jpg" alt="User Image">
                                                    </a>
                                                    <a href="doctor-profile.html">Dr. Ruby Perrin <span>Dental</span></a>
                                                </h2>
                                            </td>
                                            <td>14 Nov 2019</td>
                                            <td><span class="text-info">10:00</span></td>
                                            <td><span class="text-info">11:00</span></td>
                                            <td>12 Nov 2019</td>
                                            <td><span class="badge badge-pill bg-success-light">Confirm</span></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <h2 class="table-avatar">
                                                    <a href="doctor-profile.html" class="avatar avatar-sm mr-2">
                                                        <img class="avatar-img rounded-circle" src="assets/img/doctors/doctor-thumb-02.jpg" alt="User Image">
                                                    </a>
                                                    <a href="doctor-profile.html">Dr. Darren Elder <span>Dental</span></a>
                                                </h2>
                                            </td>
                                            <td>12 Nov 2019</td>
                                            <td><span class="text-info">14:00</span></td>
                                            <td><span class="text-info">15:00</span></td>
                                            <td>12 Nov 2019</td>
                                            <td><span class="badge badge-pill bg-success-light">Confirm</span></td>
                                        <tr>
                                            <td>
                                                <h2 class="table-avatar">
                                                    <a href="doctor-profile.html" class="avatar avatar-sm mr-2">
                                                        <img class="avatar-img rounded-circle" src="assets/img/doctors/doctor-thumb-03.jpg" alt="User Image">
                                                    </a>
                                                    <a href="doctor-profile.html">Dr. Deborah Angel <span>Cardiology</span></a>
                                                </h2>
                                            </td>
                                            <td>11 Nov 2019</td>
                                            <td><span class="text-info">11:00</span></td>
                                            <td><span class="text-info">12:00</span></td>
                                            <td>10 Nov 2019</td>
                                            <td><span class="badge badge-pill bg-danger-light">Cancelled</span></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <h2 class="table-avatar">
                                                    <a href="doctor-profile.html" class="avatar avatar-sm mr-2">
                                                        <img class="avatar-img rounded-circle" src="assets/img/doctors/doctor-thumb-04.jpg" alt="User Image">
                                                    </a>
                                                    <a href="doctor-profile.html">Dr. Sofia Brient <span>Urology</span></a>
                                                </h2>
                                            </td>
                                            <td>10 Nov 2019></td>
                                            <td><span class="text-info">08:30</span></td>
                                            <td><span class="text-info">09:30</span></td>
                                            <td>10 Nov 2019</td>
                                            <td><span class="badge badge-pill bg-warning-light">Pending</span></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <h2 class="table-avatar">
                                                    <a href="doctor-profile.html" class="avatar avatar-sm mr-2">
                                                        <img class="avatar-img rounded-circle" src="assets/img/doctors/doctor-thumb-05.jpg" alt="User Image">
                                                    </a>
                                                    <a href="doctor-profile.html">Dr. Marvin Campbell <span>Ophthalmology</span></a>
                                                </h2>
                                            </td>
                                            <td>9 Nov 2019</td>
                                            <td><span class="text-info">19:30</span></td>
                                            <td><span class="text-info">20:30</span></td>
                                            <td>8 Nov 2019</td>
                                            <td><span class="badge badge-pill bg-success-light">Confirm</span></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <h2 class="table-avatar">
                                                    <a href="doctor-profile.html" class="avatar avatar-sm mr-2">
                                                        <img class="avatar-img rounded-circle" src="assets/img/doctors/doctor-thumb-06.jpg" alt="User Image">
                                                    </a>
                                                    <a href="doctor-profile.html">Dr. Katharine Berthold <span>Orthopaedics</span></a>
                                                </h2>
                                            </td>
                                            <td>8 Nov 2019</td>
                                            <td><span class="text-info">16:30</span></td>
                                            <td><span class="text-info">16:30</span></td>
                                            <td>6 Nov 2019</td>
                                            <td><span class="badge badge-pill bg-danger-light">Cancelled</span></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <h2 class="table-avatar">
                                                    <a href="doctor-profile.html" class="avatar avatar-sm mr-2">
                                                        <img class="avatar-img rounded-circle" src="assets/img/doctors/doctor-thumb-07.jpg" alt="User Image">
                                                    </a>
                                                    <a href="doctor-profile.html">Dr. Linda Tobin <span>Neurology</span></a>
                                                </h2>
                                            </td>
                                            <td>8 Nov 2019</td>
                                            <td><span class="text-info">16:30</span></td>
                                            <td><span class="text-info">16:30</span></td>
                                            <td>6 Nov 2019</td>
                                            <td><span class="badge badge-pill bg-success-light">Confirm</span></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <h2 class="table-avatar">
                                                    <a href="doctor-profile.html" class="avatar avatar-sm mr-2">
                                                        <img class="avatar-img rounded-circle" src="assets/img/doctors/doctor-thumb-08.jpg" alt="User Image">
                                                    </a>
                                                    <a href="doctor-profile.html">Dr. Paul Richard <span>Dermatology</span></a>
                                                </h2>
                                            </td>
                                            <td>7 Nov 2019</td>
                                            <td><span class="text-info">16:30</span></td>
                                            <td><span class="text-info">16:30</span></td>
                                            <td>7 Nov 2019</td>
                                            <td><span class="badge badge-pill bg-success-light">Confirm</span></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <h2 class="table-avatar">
                                                    <a href="doctor-profile.html" class="avatar avatar-sm mr-2">
                                                        <img class="avatar-img rounded-circle" src="assets/img/doctors/doctor-thumb-09.jpg" alt="User Image">
                                                    </a>
                                                    <a href="doctor-profile.html">Dr. John Gibbs <span>Dental</span></a>
                                                </h2>
                                            </td>
                                            <td>6 Nov 2019</td>
                                            <td><span class="text-info">16:30</span></td>
                                            <td><span class="text-info">16:30</span></td>
                                            <td>4 Nov 2019</td>
                                            <td><span class="badge badge-pill bg-success-light">Confirm</span></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <h2 class="table-avatar">
                                                    <a href="doctor-profile.html" class="avatar avatar-sm mr-2">
                                                        <img class="avatar-img rounded-circle" src="assets/img/doctors/doctor-thumb-10.jpg" alt="User Image">
                                                    </a>
                                                    <a href="doctor-profile.html">Dr. Olga Barlow  <span>Dental</span></a>
                                                </h2>
                                            </td>
                                            <td>5 Nov 2019</td>
                                            <td><span class="text-info">16:30</span></td>
                                            <td><span class="text-info">16:30</span></td>
                                            <td>1 Nov 2019</td>
                                            <td><span class="badge badge-pill bg-success-light">Confirm</span></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <!-- /Page Content -->
    </div>
</body>
</html>